@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

main {
  margin: 2rem auto 2rem auto;
  width: max-content;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}